@import url('../../ThemeColor.css');
@import url('../../Fonts.css');

.GridPane{
    -fx-background-color:-primary;
}

#ShadowEffectBox2{
    -fx-background-color:-primary;
    -fx-background-radius:15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 8, 0, 0, 0);
    -fx-border-width: 2;
    -fx-border-color:-additional;
    -fx-border-radius:13;
}


#HeaderLabel2{
      -fx-background-color:-primary;
      -fx-background-radius:15;
      -fx-font-size:30;
      -fx-text-fill:-additional;
      -fx-border-color:-accent;
      -fx-border-radius:13;
      -fx-border-width:2;
}

.label{
      -fx-font-size:22;
      -fx-text-fill:-text;
}

#textField{
    -fx-font-size:22;
    -fx-text-fill:-text;
    -fx-prompt-text-fill:-additional;
    -fx-background-color:-primary;
    -fx-border-width: 0 0 2 0;
    -fx-border-color:-accent;
}




#ActionButton{
      -fx-font-size:24;
      -fx-text-fill:-text;
      -fx-background-color:-accent;
      -fx-background-radius:15;
      -fx-font-weight:bold;
      -fx-focus-traversable:false;
}

#PathSelectionButton{
      -fx-font-size:24;
      -fx-text-fill:-text;
      -fx-background-color:-additional;
      -fx-background-radius:15;
      -fx-font-weight:bold;
      -fx-focus-traversable:false;
}


.jfx-check-box {
    -fx-font-size: 24;
    -fx-text-fill: -text;
    -fx-focus-traversable: false;
    -jfx-unchecked-color: -additional;
     -jfx-checked-color: -accent;
}


.jfx-check-box .box-container {
    -fx-shape: "M 400 100 L 400 100 A 50 50 0 1 1 400 250 A 50 50 0 1 1 400 100 ";
    -fx-padding: 10;
}

.jfx-check-box .box,
.jfx-check-box:indeterminate .box,
.jfx-check-box:indeterminate:selected .box{
    -fx-pref-width: 18;
    -fx-pref-height: 18;

    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;

    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 2;

    -fx-border-color: -jfx-unchecked-color;
    -fx-border-style: solid;
    -fx-border-radius: 2;
    -fx-border-width: 2;
}

.jfx-check-box:selected .box {
    -fx-border-color: -jfx-checked-color;
}

.jfx-check-box .mark {
    -fx-shape: "M384 690l452-452 60 60-512 512-238-238 60-60z";
    -fx-max-width: 15;
    -fx-max-height: 12;

    -fx-background-color: -text;

    -fx-border-color: -text;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}

.jfx-check-box .indeterminate-mark{
    -fx-background-color: -jfx-checked-color;
    -fx-background-radius: 2;
    -fx-border-width: 0;
    -fx-max-width: 10;
    -fx-max-height: 10;
}

.jfx-slider {
    -jfx-default-thumb:-accent;
    -jfx-default-track:-accent;
}

.jfx-slider .thumb {
    -fx-scale-x: 1.3;
    -fx-scale-y: 1.3;
}

.jfx-slider:min .thumb,
.jfx-slider:min:focused .thumb {
    -fx-background-color: -jfx-default-thumb;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
}


.jfx-slider .animated-thumb{
     -fx-pref-width: 35px;
     -fx-pref-height: 35px;
     -fx-background-color: -jfx-default-thumb;
     -fx-background-radius: 50% 50% 50% 0%;
     -fx-background-insets: 0;
}


.jfx-combo-box {
    -fx-font-size : 20;
    -fx-prompt-text-fill:-additional;
    -fx-text-fill: -additional;
    -jfx-focus-color: -accent;
    -jfx-unfocus-color: -additional;
}

.jfx-combo-box-popup .list-view {
    -fx-background-color: -primary;
    -fx-font-size : 18;
}

.jfx-combo-box .list-cell {
    -fx-background-color: -primary;
    -fx-text-fill: -additional;
}



.date-picker {
       -fx-text-fill: -text;
       -fx-font-size: 16px;
       -fx-background-radius:15;
       -fx-background-color:-accent;
}

.date-picker,
.date-picker:focused,
.date-picker:focused:editable {
    -fx-background-color: -accent;
    -fx-text-fill: -additional;
}


.date-picker .text-field {
    -fx-background-color: -primary;
    -fx-text-fill: -text;
    -fx-background-radius:15;
    -fx-font-size: 20px;
    -fx-prompt-text-fill: -additional;
}


.date-picker .text-field:hover {
    -fx-background-color: -primary;
    -fx-background-radius:15;
}


.date-picker .text-field:focused {
    -fx-background-color: -primary;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0.0, 0, 0);
    -fx-background-radius:15;
}


.date-picker .arrow-button {
   -fx-background-color: -accent;
   -fx-background-radius: 0;
-fx-background-radius:15;


}

.date-picker .arrow-button:hover {
   -fx-background-color: -accent;
-fx-background-radius:15;

}

.date-picker .arrow-button .arrow {
   -fx-background-color: -text;
-fx-background-radius:15;
-fx-padding: 8px;
}

.date-picker .cell {
   -fx-background-color: -primary;
   -fx-text-fill: -text;

   -fx-border-color:-primary;
}

.date-picker .cell:hover {
   -fx-background-color:-secondary;
}

.date-picker .cell:focused {
   -fx-background-color: -accent;
}


.date-picker-popup {
   -fx-border-color: -secondary;
   -fx-background-color: transparent;
}

.date-picker-popup .month-year-pane {
   -fx-background-color: -primary;
}

.date-picker-popup .month-year-pane .label {
   -fx-text-fill: -text;
}




/* Style for the week day labels */
.date-picker-popup .day-name-cell {
   -fx-background-color: -accent;
   -fx-border-color: -accent;
}

.date-picker-popup .day-name-cell .label {
   -fx-text-fill: -text;
}

.date-picker-popup .day-name-cell:hover {
   -fx-background-color: -accent;
   -fx-border-color: -accent;
}


.date-picker-popup .week-number-cell {
   -fx-background-color: -accent;
}

.date-picker-popup .week-number-cell .label {
   -fx-text-fill: -text;
}

.date-picker-popup .week-number-cell:hover {
   -fx-background-color: -accent;
}


.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
   -fx-background-color: -text;
}

.date-picker-popup .spinner .button:hover,
.date-picker-popup .spinner .button:hover {
   -fx-background-color: -accent;
}

.date-picker-popup .spinner .button:active,
.date-picker-popup .spinner .button:active {
   -fx-background-color: -accent;
}

.date-picker-popup .spinner .button:focused,
.date-picker-popup .spinner .button:focused {
   -fx-background-color: -accent;
}



.scroll-pane {
    -fx-background: -primary;
    -fx-background-color: -primary;
    -fx-control-inner-background: -primary;
    -fx-background-radius:10;
    -fx-border-width:2;
    -fx-border-radius:8;
    -fx-border-color: -additional;
}


.table-view {
    -fx-background-color: -primary;
    -fx-font-size: 15px;
    -fx-text-fill: -text;
    -fx-font-weight: normal;
    -fx-background-radius:10;
}

/* Style for TableView headers */
.table-view .column-header .label {
    -fx-font-size: 18px;
    -fx-text-fill: -text;
    -fx-background-color: -secondary;
    -fx-font-weight: normal;
    -fx-pref-height:50;
    -fx-background-radius:5;
}

.table-view .column-header-background,
.table-view .column-header,
.table-view .filler {
    -fx-background-color: -secondary;
    -fx-background-radius:5;
}

.table-view .column-header, .table-view .filler {
    -fx-border-color: transparent;
    -fx-background-radius:5;
}

.table-view .table-row-cell {
    -fx-background-color: -primary;
    -fx-text-fill: -text;
}

.table-view .table-row-cell:filled:hover {
    -fx-background-color: -secondary;
    -fx-text-fill: -text;
}

.table-view .table-row-cell:filled:selected {
    -fx-background-color: -secondary;
    -fx-text-fill: -text;
}


.table-view .table-row-cell:selected:selected,
.table-view .table-row-cell:selected:selected .table-cell {
    -fx-background-color: -secondary;
    -fx-text-fill: -text;
}

.table-view .cell {
    -fx-border-color: transparent;
}

.table-cell {
    -fx-alignment: center;
}

.scroll-bar:vertical .increment-button {
    -fx-background-color: -secondary;
    -fx-border-color:-secondary;
    -fx-background-radius:5;
    -fx-border-radius:5;
}

.scroll-bar:vertical .decrement-button {
   -fx-background-color: -secondary;
   -fx-border-color:-secondary;
   -fx-background-radius:5;
   -fx-border-radius:5;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: -primary;
}

.scroll-bar:vertical .track {
    -fx-background-color: -secondary;
}



