@import url('../ThemeColor.css');
@import url('../Fonts.css');

.GridPane{
    -fx-background-color:-primary;
}

#ShadowEffectBox2{
    -fx-background-color:-primary;
    -fx-background-radius:15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 8, 0, 0, 0);
    -fx-border-width: 2;
    -fx-border-color:-additional;
    -fx-border-radius:13;
}


#HeaderLabel2{
      -fx-background-color:-primary;
      -fx-background-radius:15;
      -fx-font-size:30;
      -fx-text-fill:-additional;
      -fx-border-color:-accent;
      -fx-border-radius:13;
      -fx-border-width:2;
}

.label{
      -fx-font-size:22;
      -fx-text-fill:-text;
}



.text-field2{
    -fx-font-size:22;
    -fx-text-fill:-text;
    -fx-prompt-text-fill:-additional;
    -fx-background-color:-primary;
    -fx-border-width: 0 0 2 0;
    -fx-border-color:-additional;
}

#ActionButton{
      -fx-font-size:22;
      -fx-text-fill:-text;
      -fx-background-color:-accent;
      -fx-background-radius:10;
      -fx-font-weight:bold;
      -fx-focus-traversable:false;
}

.radio-button {
    -fx-font-size: 18;
    -fx-text-fill: -text;
    -fx-focus-traversable: false;
    -fx-pref-height:40;
}

.radio-button:disabled {
    -fx-opacity: 1; /* Ensures full visibility */
    -fx-text-fill: white; /* Changes disabled text color to white */
}

.radio-button .radio {
    -fx-opacity: 0.5; /* Optional: Adjusts the mark opacity if desired */
}


#fontIcon {
    -fx-icon-color: -text;
}


#BodyPartsBox{
    -fx-border-radius:5;
    -fx-border-color:-additional;
    -fx-border-width:2;
}

.unSelectedButton{
    -fx-font-size:24;
    -fx-background-color: Transparent;
    -fx-focus-traversable:false;
    -fx-text-fill: -additional;
    -fx-background-radius: 10;

}

.selectedButton{
    -fx-font-size:24;
    -fx-background-color: Transparent;
    -fx-focus-traversable:false;
    -fx-text-fill: -text;
    -fx-background-radius: 10;
}

.unSelectedToolsButton{
    -fx-background-color: -secondary;
    -fx-background-radius:10;
    -fx-border-color:transparent;
    -fx-border-width:2;
    -fx-border-radius:8;
    -fx-focus-traversable: false;
    -fx-text-fill:-text;
    -fx-font-size:24;
}

.SelectedToolsButton{
    -fx-background-color: -secondary;
    -fx-background-radius:10;
    -fx-border-color:green;
    -fx-border-width:2;
    -fx-border-radius:8;
    -fx-focus-traversable: false;
    -fx-text-fill:-text;
    -fx-font-size:24;
}





#BodyChangeButton{
    -fx-background-color: transparent;
    -fx-background-radius:10;
    -fx-focus-traversable: false;
}

.scroll-pane {
    -fx-background: -primary;
    -fx-background-color: -primary;
    -fx-control-inner-background: -primary;
}

.scroll-pane .viewport {
    -fx-background-color: -primary;
    -fx-background-radius: 25;
}


.scroll-bar:vertical .increment-button {
    -fx-background-color: -secondary;
    -fx-border-color:-secondary;
    -fx-background-radius:5;
    -fx-border-radius:5;
}

.scroll-bar:vertical .decrement-button {
   -fx-background-color: -secondary;
   -fx-border-color:-secondary;
   -fx-background-radius:5;
   -fx-border-radius:5;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: -primary;
}

.scroll-bar:vertical .track {
    -fx-background-color: -secondary;
}



#TableScrollPane {
    -fx-background: -primary;
    -fx-background-color: -primary;
    -fx-control-inner-background: -primary;
    -fx-background-radius:10;
    -fx-border-width:2;
    -fx-border-radius:8;
    -fx-border-color: -additional;
}

.table-view {
    -fx-background-color: -primary;
    -fx-font-size: 15px;
    -fx-text-fill: -text;
    -fx-font-weight: normal;
    -fx-background-radius:10;
}

/* Style for TableView headers */
.table-view .column-header .label {
    -fx-font-size: 16px;
    -fx-text-fill: -text;
    -fx-background-color: -secondary;
    -fx-font-weight: normal;
    -fx-pref-height: 50;
    -fx-background-radius: 5;

}


.table-view .column-header-background,
.table-view .column-header,
.table-view .filler {
    -fx-background-color: -secondary;
    -fx-background-radius:5;
}

.table-view .column-header, .table-view .filler {
    -fx-border-color: transparent;
    -fx-background-radius:5;
}

.table-view .table-row-cell {
    -fx-background-color: -primary;
    -fx-text-fill: -text;
}

.table-view .table-row-cell:filled:hover {
    -fx-background-color: -secondary;
    -fx-text-fill: -text;
}

.table-view .table-row-cell:filled:selected {
    -fx-background-color: -secondary;
    -fx-text-fill: -text;
}


.table-view .table-row-cell:selected:selected,
.table-view .table-row-cell:selected:selected .table-cell {
    -fx-background-color: -secondary;
    -fx-text-fill: -text;
}

.table-view .cell {
    -fx-border-color: transparent;
}

.table-cell {
    -fx-alignment: center;
}


.jfx-check-box {
    -fx-font-size: 24;
    -fx-text-fill: -text;
    -fx-focus-traversable: false;
}

.jfx-check-box:selected .box .mark {
    -fx-mark-color: -accent;
}

.jfx-check-box:selected .box {
    -fx-background-color: transparent;
    -fx-border-color: -accent;
}

#AnatomyBox{
    -fx-background-color:transparent;
    -fx-background-radius:10;
    -fx-border-radius:10;
    -fx-border-color:-additional;
    -fx-border-width:2;
}

.deleteAnatomyButton{
    -fx-background-color:transparent;
    -fx-background-radius:100;
    -fx-border-color:-additional;
    -fx-border-width:2;
    -fx-border-radius:100;
}

#ActionButton{
      -fx-font-size:24;
      -fx-text-fill:-text;
      -fx-background-color:-accent;
      -fx-background-radius:15;
      -fx-font-weight:bold;
      -fx-focus-traversable:false;
}

#fontIcon {
    -fx-icon-color: -text;
}

.text-field{
    -fx-font-size:22;
    -fx-text-fill:-text;
    -fx-prompt-text-fill:-additional;
    -fx-background-color:-primary;
    -fx-border-width: 0 0 2 0;
    -fx-border-color:-additional;
}

.scroll-pane {
    -fx-background: -primary;
    -fx-background-color: -primary;
    -fx-control-inner-background: -primary;
}

.scroll-pane .viewport {
    -fx-background-color: -primary;
    -fx-background-radius: 25;
}


.scroll-bar:horizontal .increment-button {
    -fx-background-color: -secondary;
    -fx-border-color:-secondary;
    -fx-background-radius:5;
    -fx-border-radius:5;
}

.scroll-bar:horizontal .decrement-button {
   -fx-background-color: -secondary;
   -fx-border-color:-secondary;
   -fx-background-radius:5;
   -fx-border-radius:5;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: -primary;
}

.scroll-bar:horizontal .track {
    -fx-background-color: -secondary;
}